{% extends 'base1.html' %}

{% block content %}

<div class="table-responsive text-nowrap">
    <h2>Order Summary</h2>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Book title</th>
          <th scope="col">Price</th>
          <th scope="col">Quantity</th>
          <th scope="col">Total book price</th>
        
        </tr>
      </thead>
      <tbody>
        {% for book in orders.items.all %}
        <tr>
          <th scope="row">{{forloop.counter}}</th>
          <td>{{book.item.title}}</td>
          <td>{{book.item.price}}</td>
          <td>
            <a href="{% url 'remove-single-book' book.item.id %}">

              <i class="fa fa-minus mr-3" aria-hidden="true"></i>
              </a>
            {{book.quantity}}
            <a href="{% url 'add-single-book' book.item.id %}">
              <i class="fa fa-plus ml-3" aria-hidden="true"></i></a>
          </td>
          <td>
            {% if book.item.discount_price %}
                {{book.total_price}}Birr
                <span class="badge badge-primary">Saved{{book.total_discount}} birr</span>
              {% else %}
                {{book.total_price}}Birr
            {% endif %}

            <a style="color: red" href="{% url 'remove-from-cart' book.item.id %}"><i class="fa fa-trash ml-3" aria-hidden="true"></i></a>
          </td>
          
          
          
        </tr>
        {% empty %}
        <tr>
          <td colspan="5"> Your Cart is badooo</td>
        </tr>
        <tr> 
          <td colspan="5"> 
            <a class="btn btn-primary float-right" href="/">Continue Shoping</a></td>
          <td> 
        </tr>
        {% endfor %}
        {% if orders.over_all_total_price %}
        <tr>
          <td colspan="4"><b>Order Total</b></td>
          <td>{{orders.over_all_total_price}}</td>
        </tr>

        <tr>
          <td colspan="5">
            <form method="POST" action="https://api.chapa.co/v1/hosted/pay" >
              <input type="hidden" name="public_key" value="CHAPUBK_TEST-hil3TopFGmNl8N6qXiOGl0MLGDVsBZeu" />
              <input type="hidden" name="tx_ref" value="{{orders.trx}}" />
              <input  type="hidden" name="amount" value="{{orders.over_all_total_price}}" />
              <input type="hidden" name="currency" value="ETB" />
              <input  type="hidden" name="email" value="{{request.user.email}}" />
              <input  type="hidden" name="first_name" value="{{request.user.first_name}}" />
              <input  type="hidden" name="last_name" value="{{request.user.last_name}}" />
              <input type="hidden" name="title" value="book payment" />
              <input type="hidden" name="description" value="books....." />
              <input type="hidden" name="logo" value="https://chapa.link/asset/images/chapa_swirl.svg" />
              <input type="hidden" name="callback_url" value="https://example.com/callbackurl" />
              <input type="hidden" name="return_url" value="https://booksshop.onrender.com" />
              <input type="hidden" name="meta[title]" value="test" />
              <button  class="btn btn-warning float-right ml-2" type="submit">Proceed to checkout</button>
              <a class="btn btn-primary float-right" href="/">Continue Shoping</a>
            </form>
            </td>
            
        </tr>
        {% endif %}
        
      </tbody>  
    </table>
  </div>
  {% endblock content %}