<!-- Add these lines in your HTML file -->
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/widgets.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/base.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/dashboard.css' %}">
<script type="text/javascript" src="{% static 'admin/js/core.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/vendor/xregexp/xregexp.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/vendor/xregexp/xregexp.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/vendor/clippy.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/vendor/js.cookie.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/vendor/progressindicator.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/core.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/admin/RelatedObjectLookup.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/vendor/actions.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/vendor/calendar.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/vendor/admin/RelatedObjectLookup.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/vendor/vendor/vendor/changeform.js' %}"></script>
